<div class="equipment section" id="equipment">
	<div class="wrapper section-content equipment-content">
		
		<div class="section-title secondary">Equipos</div>
		
		<div class="equipment-categories">
			<div class="equipment-item">
				<div class="equipment-item-box"><div class="equipment-item-title">Excavadoras</div></div>
				<div class="equipment-item-description">
					<div class="equipment-item-description-inner">
						<ul>
							<li>- Subaru Impreza</li>
							<li>- Shelby Cobra</li>
							<li>- Chevolet Camaro</li>
							<li>- Mitsubishi Eclipse</li>
							<li>- Camion Iveco Naranja para jugar</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="equipment-item">
				<div class="equipment-item-box"><div class="equipment-item-title">Cargadoras</div></div>
				<div class="equipment-item-description">
					<div class="equipment-item-description-inner">
						<ul>
							<li>- Subaru Impreza</li>
							<li>- Shelby Cobra</li>
							<li>- Chevolet Camaro</li>
							<li>- Mitsubishi Eclipse</li>
							<li>- Camion Iveco Naranja para jugar</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="equipment-item">
				<div class="equipment-item-box"><div class="equipment-item-title">Niveladoras</div></div>
				<div class="equipment-item-description">
					<div class="equipment-item-description-inner">
						<ul>
							<li>- Subaru Impreza</li>
							<li>- Shelby Cobra</li>
							<li>- Chevolet Camaro</li>
							<li>- Mitsubishi Eclipse</li>
							<li>- Camion Iveco Naranja para jugar</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="equipment-item">
				<div class="equipment-item-box"><div class="equipment-item-title">Compactadores</div></div>
				<div class="equipment-item-description">
					<div class="equipment-item-description-inner">
						<ul>
							<li>- Subaru Impreza</li>
							<li>- Shelby Cobra</li>
							<li>- Chevolet Camaro</li>
							<li>- Mitsubishi Eclipse</li>
							<li>- Camion Iveco Naranja para jugar</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="equipment-item">
				<div class="equipment-item-box"><div class="equipment-item-title">Camiones</div></div>
				<div class="equipment-item-description">
					<div class="equipment-item-description-inner">
						<ul>
							<li>- Subaru Impreza</li>
							<li>- Shelby Cobra</li>
							<li>- Chevolet Camaro</li>
							<li>- Mitsubishi Eclipse</li>
							<li>- Camion Iveco Naranja para jugar</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
