<div class="equipment section" id="equipment">
	<div class="wrapper section-content equipment-content">
		
		<div class="section-title secondary">Equipos</div>
		
		<div class="equipment-categories">
			<div class="equipment-item">
				<div class="equipment-item-box"><div class="equipment-item-title">Excavadoras</div></div>
				<div class="equipment-item-description">
					<div class="equipment-item-description-inner">
						<p>Excavadoras sobre orugas desde 4ton a 25ton hasta 6mts de profundidad</p>
					</div>
				</div>
			</div>
			<div class="equipment-item">
				<div class="equipment-item-box"><div class="equipment-item-title">Cargadoras</div></div>
				<div class="equipment-item-description">
					<div class="equipment-item-description-inner">
						<p>Cargadoras sobre neum&aacute;ticos, desde 0.3m&sup3; hasta 4m&sup3; de capacidad</p>
					</div>
				</div>
			</div>
			<div class="equipment-item">
				<div class="equipment-item-box"><div class="equipment-item-title">Niveladoras</div></div>
				<div class="equipment-item-description">
					<div class="equipment-item-description-inner">
						<p>Moto niveladoras de 12, 14 y 16 pies de cuchillas, con escarificadores traseros</p>
					</div>
				</div>
			</div>
			<div class="equipment-item">
				<div class="equipment-item-box"><div class="equipment-item-title">Compactadores</div></div>
				<div class="equipment-item-description">
					<div class="equipment-item-description-inner">
						<p>Vibro compactadores auto propulsados lisos y pata de cabra</p>
					</div>
				</div>
			</div>
			<div class="equipment-item">
				<div class="equipment-item-box"><div class="equipment-item-title">Camiones</div></div>
				<div class="equipment-item-description">
					<div class="equipment-item-description-inner">
						<p>Contamos con camiones volcadores 4x2, 6x4 y 8x4, con capacidad de carga desde los 8m3 hasta los 28m3.</p>
						<p>Ademas contamos con camiones de tipo tractor, con carretones semirremolques, y carretones con capacidades desde 6 toneladas, hasta 35 toneladas de carga.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
