<div class="transport section" id="transport">
	<div class="wrapper transport-content">
		
		<div class="transport-aside">
			<div class="section-title secondary">Transportes</div>
		
			<div class="transport-description section-paragraph secondary">
				<p>Desde nuestros inicios RENTAVIAL Servicios esta dedicada a la alta producci&oacute;n con los est&aacute;ndares mas altos, para ello nos enfocamos en la inversi&oacute;n constante en equipos modernos y de primeras marcas, para brindarle a nuestros clientes eficacia tanto desde el lado de los operadores y t&eacute;cnicos, como desde el lado de los equipos, tanto sea para obras nuestras, o alquileres a clientes.</p>
				
				<p>Nos mantenemos en constante crecimiento con plena inversi&oacute;n.</p>

				<p>Poseemos una vasta experiencia en obras de movimiento de suelos, Desmontes, entoscados, rellenos, nivelaciones, demoliciones, excavaciones, compactaciones, playas de estacionamientos con asfalto, pavimentos municipales en H A, y todo lo que respecta a obras con equipo pesado.</p>
				
				<p>Contamos con personal experimentado, equipos modernos de ultima tecnolog&iacute;a, y siempre de primeras marcas, asegur&aacute;ndole al cliente un trabajo de principio a fin, sin demoras por fallas en equipos.</p>

				<p>Contamos con camiones volcadores 4x2, 6x4 y 8x4, con capacidad de carga desde los 8m3 hasta los 28m3.</p>
				
				<p>Ademas contamos con camiones de tipo tractor, con carretones semirremolques, y carretones con capacidades desde 6 toneladas, hasta 35 toneladas de carga.</p>
			</div>
		</div>

	</div>
</div>
