/* Transport */
.transport {
	background-image: url("./images/transport/transport.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	&.section {
		align-items: stretch;
	}
}

.transport-content {
	display: flex;
	flex-direction: column;
}

.transport-aside {
	flex-grow: 1;
	width: 100%;
	padding: 60px 10px;
	background-color: color(var(--black) a(75%));

	@media (--mq-range-min-medium) {
		width: 75%;
		padding: 75px 25px;
	}

	@media (--mq-range-min-large) {
		width: 60%;
		padding: 90px 25px;
	}
}

.transport-description {

	@media (--mq-range-min-medium) {
		flex-basis: 70%;
		column-count: 2;
		column-gap: 50px;
	}
}
