/* Settings */
/* Font */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    font-size: 16px;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    min-width: 320px;
    cursor: default;
}
body * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.scroll-block {
    overflow: hidden;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1184px;
}
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio, canvas, video {
    display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden], template {
    display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-family: sans-serif;/* 1 */
    -ms-text-size-adjust: 100%;/* 2 */
    -webkit-text-size-adjust: 100%;/* 2 */
}
/**
 * Remove default margin.
 */
body {
    margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
    background: transparent;
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
    outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
    border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b, strong {
    font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
    font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
    box-sizing: content-box;
    height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
    background: #ff0;
    color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em;
}
code a, kbd a, pre a, samp a {
    font-family: 'Open Sans', sans-serif;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
    white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
    border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
    overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
    margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    border: 0;/* 1 */
    padding: 0;/* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button, input, select, textarea {
    font-family: inherit;/* 1 */
    font-size: 100%;/* 2 */
    margin: 0;/* 3 */
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
    line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button, select {
    text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;/* 2 */
    cursor: pointer;/* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
    cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;/* 1 */
    padding: 0;/* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield;/* 1 *//* 2 */
    box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto;/* 1 */
    vertical-align: top;/* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    line-height: 100%;
}
a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
a:hover, a:active, a:focus {
    outline: none;
}
/**
 * Media queries
 * https://www.w3.org/TR/mediaqueries-4/
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries
 */
/**
 * Viewport ranges
 */
/**
 * Viewport minimum ranges
 */
/**
 * Viewport maximum ranges
 */
/**
 * Media type
 * https://developer.mozilla.org/en-US/docs/Web/CSS/@media
*/
/**
 * Orientation detection
 */
/* Common section styles */
.section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}
.section-content {
    padding: 45px 10px;
}
@media (min-width: 768px) {
    .section-content {
        padding: 75px 20px;
    }
}
@media (min-width: 768px) {
    .section-content {
        padding: 90px 20px;
    }
}
.section-title {
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 40px;
}
.section-title:before {
    content: '';
    width: 40px;
    height: 3px;
    background-color: #ee7d00;
    position: absolute;
    left: 0;
    bottom: 0;
}
.section-title.secondary {
    color: #FFFFFF;
}
@media (min-width: 768px) {
    .section-title {
        font-size: 24px;
    }
}
@media (min-width: 990px) {
    .section-title {
        font-size: 28px;
    }
}
.in-viewport .section-title {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}
.section-paragraph {
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.75);
}
.section-paragraph p:not(:first-child) {
    margin-top: 15px;
}
.section-paragraph.secondary {
    color: rgba(255, 255, 255, 0.75);
}
@media (min-width: 768px) {
    .section-paragraph {
        font-size: 14px;
    }
}
.in-viewport .section-paragraph {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

/* Components */
/* Header */
.header {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 55px;
}
@media (min-width: 768px) {
    .header-inner {
        padding: 0 10px;
    }
}
@media (min-width: 990px) {
    .header-inner {
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        height: auto;
    }
}
.header-logo {
    display: block;
    line-height: 0;
}
.header-logo img {
    height: 35px;
    width: auto;
}
@media (min-width: 990px) {
    .header-logo {
        padding: 12px 0;
    }
}
@media (min-width: 990px) {
    .header-logo img {
        height: 40px;
    }
}
.header-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 36px;
    height: 26px;
    position: relative;
    margin-right: 10px;
}
.header-hamburger .header-hamburger-inner {
    height: 4px;
    width: 100%;
    background-color: #FFFFFF;
    -webkit-transition-property: opacity, background-color;
    transition-property: opacity, background-color;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}
.header-hamburger:before, .header-hamburger:after {
    content: '';
    height: 4px;
    background-color: #FFFFFF;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, -webkit-transform;
    transition-property: transform, background-color;
    transition-property: transform, background-color, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}
.header-hamburger:before {
    top: 0;
}
.header-hamburger:after {
    bottom: 0;
}
.header-hamburger:active .header-hamburger-inner, .header-hamburger:active:before, .header-hamburger:active:after, .header-hamburger:focus .header-hamburger-inner, .header-hamburger:focus:before, .header-hamburger:focus:after {
    background-color: #ee7d00;
}
@media (min-width: 990px) {
    .header-hamburger {
        display: none;
    }
}
.is-expanded .header-hamburger .header-hamburger-inner {
    opacity: 0;
}
.is-expanded .header-hamburger:before {
    -webkit-transform: rotate(45deg) translate(8px, 8px);
            transform: rotate(45deg) translate(8px, 8px);
}
.is-expanded .header-hamburger:after {
    -webkit-transform: rotate(-45deg) translate(8px, -8px);
            transform: rotate(-45deg) translate(8px, -8px);
}
/* Navigation */
.navigation-list {}
@media (max-width: 989px) {
    .navigation-list {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: 0.25s;
                transition-duration: 0.25s;
        -webkit-transition-timing-function: ease-in-out;
                transition-timing-function: ease-in-out;
        padding: 55px 10px 10px 10px;
        z-index: -1;
    }
    .navigation-list li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .is-expanded .navigation-list {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@media (min-width: 990px) {
    .navigation-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .navigation-list li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
.navigation-link {
    position: relative;
    padding: 14px 0;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}
.navigation-link:hover {
    color: #ee7d00;
}
.navigation-link:before {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ee7d00;
    opacity: 0;
    -webkit-transition-property: opacity, width;
    transition-property: opacity, width;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}
@media (min-width: 768px) {
    .navigation-link {
        padding: 20px 0;
    }
}
@media (min-width: 990px) {
    .navigation-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0 12px;
        font-size: 12px;
    }
}
.is-active .navigation-link {
    color: #ee7d00;
}
.is-active .navigation-link:before {
    opacity: 1;
    width: 100%;
}
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;/* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;/* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;/* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: none;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}
.owl-carousel.owl-hidden {
    opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}
.owl-carousel.owl-rtl {
    direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
    float: right;
}
/* No Js */
.no-js .owl-carousel {
    display: block;
}
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
    z-index: 0;
}
.owl-carousel .owl-animated-out {
    z-index: 1;
}
.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
    -webkit-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}
.owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}
.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 100ms ease;
    transition: -webkit-transform 100ms ease;
    transition: transform 100ms ease;
    transition: transform 100ms ease, -webkit-transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}
.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}
/* Hero */
.hero {
    height: 100vh;
    position: relative;
}
.hero .owl-prev, .hero .owl-next {
    display: block;
    width: 36px;
    height: 42px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition-property: background-color, opacity;
    transition-property: background-color, opacity;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}
.hero .owl-prev:hover, .hero .owl-next:hover {
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.90;
}
.hero .owl-prev {
    background-image: url(./images/icons/arrow-left.svg);
    left: 0;
}
.hero .owl-next {
    background-image: url(./images/icons/arrow-right.svg);
    right: 0;
}
.hero-item {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Caption morphext */
@-webkit-keyframes fade-in {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 25%, 0);
                transform: translate3d(0, 25%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 25%, 0);
                transform: translate3d(0, 25%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}
.caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000000;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
}
@media (min-width: 560px) {
    .caption {
        font-size: 32px;
    }
}
@media (min-width: 768px) {
    .caption {
        font-size: 42px;
    }
}
.caption-inner {
    position: absolute;
    left: 0;
    bottom: 10%;
    padding: 0 20px;
}
.animated {
    display: inline-block;
    position: relative;
    padding-left: 25px;/* Line bullet */
}
.animated:before, .animated:after {
    content: '';
    position: absolute;
    top: 50%;
    height: 75%;
    width: 6px;
    display: inline-block;
    background-color: #ee7d00;
    -webkit-transform: translateY(-50%) skewX(-15deg);
            transform: translateY(-50%) skewX(-15deg);
    box-shadow: 1px 1px 1px #000000;
}
.animated:after {
    left: 0;
}
.animated:before {
    left: 9px;
}
@media (min-width: 560px) {
    .animated {
        padding-left: 32px;
    }
    .animated:before, .animated:after {
        width: 8px;
    }
    .animated:before {
        left: 12px;
    }
}
@media (min-width: 768px) {
    .animated {
        padding-left: 40px;
    }
    .animated:before, .animated:after {
        width: 12px;
    }
    .animated:before {
        left: 16px;
    }
}
.fadeIn {
    -webkit-animation-name: fade-in;
            animation-name: fade-in;
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
/* About */
.about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
@media (min-width: 990px) {
    .about-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}
.about-title {}
@media (min-width: 990px) {
    .about-title {
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
    }
}
.about-description {}
@media (min-width: 768px) {
    .about-description {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 50px;
           -moz-column-gap: 50px;
                column-gap: 50px;
    }
}
@media (min-width: 768px) {
    .about-description {
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
    }
}
/* Transport */
.transport {
    background-image: url("./images/transport/transport.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}
.transport.section {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}
.transport-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.transport-aside {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    padding: 60px 10px;
    background-color: rgba(0, 0, 0, 0.75);
}
@media (min-width: 768px) {
    .transport-aside {
        width: 75%;
        padding: 75px 25px;
    }
}
@media (min-width: 990px) {
    .transport-aside {
        width: 60%;
        padding: 90px 25px;
    }
}
.transport-description {}
@media (min-width: 768px) {
    .transport-description {
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 50px;
           -moz-column-gap: 50px;
                column-gap: 50px;
    }
}
/* Works */
.works {
    background-color: #222222;
}
.works-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -40px;
}
@media (min-width: 768px) {
    .works-grid {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}
.work-item {
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    width: 80%;
    margin-top: 40px;
    cursor: pointer;
}
@media (min-width: 768px) {
    .work-item {
        width: 45%;
    }
}
@media (min-width: 990px) {
    .work-item {
        width: 28%;
        margin-top: 60px;
    }
}
.in-viewport .work-item {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}
.in-viewport .work-item:nth-child(1) {
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
}
.in-viewport .work-item:nth-child(2) {
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
}
.in-viewport .work-item:nth-child(3) {
    -webkit-transition-delay: 1.5s;
            transition-delay: 1.5s;
}
.in-viewport .work-item:nth-child(4) {
    -webkit-transition-delay: 1.8s;
            transition-delay: 1.8s;
}
.in-viewport .work-item:nth-child(5) {
    -webkit-transition-delay: 2.1s;
            transition-delay: 2.1s;
}
.in-viewport .work-item:nth-child(6) {
    -webkit-transition-delay: 2.4s;
            transition-delay: 2.4s;
}
.work-item-image {
    height: 220px;
    overflow: hidden;
}
.work-item-image-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-transition-property: box-shadow, -webkit-transform;
    transition-property: box-shadow, -webkit-transform;
    transition-property: transform, box-shadow;
    transition-property: transform, box-shadow, -webkit-transform;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}
.work-item:hover .work-item-image-inner, .work-item:active .work-item-image-inner, .work-item:focus .work-item-image-inner {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    box-shadow: inset 0 0 100px #000000;
}
.category-demolitions .work-item-image-inner {
    background-image: url("./images/works/demolitions.jpg");
}
.category-clearance .work-item-image-inner {
    background-image: url("./images/works/clearance.jpg");
}
.category-leveling .work-item-image-inner {
    background-image: url("./images/works/leveling.jpg");
}
.category-stuck .work-item-image-inner {
    background-image: url("./images/works/stuck.jpg");
}
.category-excavations .work-item-image-inner {
    background-image: url("./images/works/excavations.jpg");
}
.category-pavement .work-item-image-inner {
    background-image: url("./images/works/pavement.jpg");
}
.work-item-content {
    padding: 10px 0;
}
.work-item-title {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.work-item-title:before {
    content: '\203A';
    position: absolute;
    right: 0;
    bottom: 8px;
    display: none;
    //: #ee7d00;
    font-size: 30px;
    line-height: 0;
    font-weight: 400;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}
.is-expanded .work-item-title:before {
    -webkit-transform: rotate(-90deg) translateY(-8px);
            transform: rotate(-90deg) translateY(-8px);
}
.work-item-description {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.75);
    line-height: 1.5;
    opacity: 0;
    max-height: 0;
    -webkit-transition-property: opacity, max-height;
    transition-property: opacity, max-height;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}
.is-expanded .work-item-description {
    max-height: 200px;
    opacity: 1;
}
/* Equipment */
.equipment {
    background-image: url("./images/equipment/equipment.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.equipment-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
@media (min-width: 990px) {
    .equipment-categories {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-bottom: 50px;
    }
    .equipment-categories:before {
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        transition-property: transform, opacity;
        transition-property: transform, opacity, -webkit-transform;
        -webkit-transition-duration: 0.25s;
                transition-duration: 0.25s;
        -webkit-transition-timing-function: ease-in-out;
                transition-timing-function: ease-in-out;
        opacity: 0;
        -webkit-transform: translateY(60px);
                transform: translateY(60px);
        -webkit-transition-delay: 2.5s;
                transition-delay: 2.5s;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
    .in-viewport .equipment-categories:before {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
.equipment-item {
    width: 100%;
    margin-bottom: 15px;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    opacity: 0;
}
@media (min-width: 990px) {
    .equipment-item {
        width: auto;
        margin-bottom: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
.in-viewport .equipment-item {
    opacity: 1;
}
.in-viewport .equipment-item:nth-child(1) {
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
}
.in-viewport .equipment-item:nth-child(2) {
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
}
.in-viewport .equipment-item:nth-child(3) {
    -webkit-transition-delay: 1.5s;
            transition-delay: 1.5s;
}
.in-viewport .equipment-item:nth-child(4) {
    -webkit-transition-delay: 1.8s;
            transition-delay: 1.8s;
}
.in-viewport .equipment-item:nth-child(5) {
    -webkit-transition-delay: 2.1s;
            transition-delay: 2.1s;
}
.equipment-item-box {
    display: block;
    position: relative;
    padding: 15px;
    width: 100%;
}
@media (min-width: 990px) {
    .equipment-item-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 180px;
        height: 180px;
        cursor: pointer;
        padding: 0;
    }
}
.equipment-item-box:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}
.is-active .equipment-item-box:before {
    background-color: #ee7d00;
    opacity: 0.8;
}
.equipment-item-box:hover {}
.equipment-item-box:hover:before {
    opacity: 0.8;
}
.equipment-item-title {
    position: relative;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}
.equipment-item-box:hover .equipment-item-title {
    color: #ee7d00;
}
.is-active .equipment-item-title, .is-active .equipment-item-box:hover .equipment-item-title {
    color: #000000;
}
.equipment-item-title:before {
    content: '\203A';
    position: absolute;
    right: 0;
    bottom: 8px;
    display: block;
    color: #000000;
    font-size: 30px;
    line-height: 0;
    font-weight: 400;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}
.is-active .equipment-item-title:before {
    -webkit-transform: rotate(-90deg) translateY(-8px);
            transform: rotate(-90deg) translateY(-8px);
}
@media (min-width: 990px) {
    .equipment-item-title:before {
        display: none;
    }
}
.equipment-item-description {
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 1px 1px 0 #000000;
    opacity: 0;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}
@media (max-width: 989px) {
    .equipment-item-description {
        width: 100%;
        max-height: 0;
        background-color: rgba(0, 0, 0, 0.25);
        -webkit-transform: translateY(10px);
                transform: translateY(10px);
        -webkit-transition-property: opacity, max-height;
        transition-property: opacity, max-height;
    }
    .is-active .equipment-item-description {
        max-height: 800px;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-transition-delay: 0s;
                transition-delay: 0s;
    }
}
@media (min-width: 990px) {
    .equipment-item-description {
        position: absolute;
        top: calc(100% - 50px / 2);
        left: 0;
        right: 0;
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        transition-property: opacity, transform;
        transition-property: opacity, transform, -webkit-transform;
        -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
        -webkit-transition-delay: 0s;
                transition-delay: 0s;
    }
    .is-active .equipment-item-description {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
    }
}
.is-active .equipment-item-description {
    opacity: 1;
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
}
.equipment-item-description-inner {
    padding: 20px;
}
.equipment-item-description-inner li {
    display: inline;
    line-height: 1.5;
}
.equipment-item-description-inner li:not(:first-child) {
    margin-left: 5px;
}
@media (min-width: 990px) {
    .equipment-item-description-inner {
        padding: 0;
    }
}
/* Contact */
.contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 25px;
}
@media (min-width: 990px) {
    .contact-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}
.contact-info {}
@media (min-width: 990px) {
    .contact-info {
        width: 50%;
        position: relative;
    }
}
.contact-map {
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
    position: relative;
    margin-top: 25px;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    opacity: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
}
@media (min-width: 990px) {
    .contact-map {
        width: 50%;
        height: auto;
        margin-top: 0;
    }
}
.in-viewport .contact-map {
    opacity: 1;
}
#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.contact-info {
    padding-right: 50px;
}
.contact-address {
    font-size: 16px;
    font-weight: bold;
}
.contact-phone, .contact-email {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
    line-height: 1.5;
    margin-top: 20px;
}
.section-paragraph .contact-phone p, .section-paragraph .contact-email p {
    margin-top: 0;
}