@define-mixin tooltip $width: 350px, $background: var(--blue-light), $font-size: 13px, $color: var(--black) {
    opacity: 0;
    box-sizing: border-box;
    border-radius: 4px;
    transition: right 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.1s;
    width: $(width);
    background-color: $(background);
    font-size: $(font-size);
    color: $(color);
    position: absolute;
    text-align: left;
    line-height: 1.8;
    visibility: hidden;
    padding: 10px;
    z-index: 1;
    letter-spacing: 0;
    box-shadow: 0 3px 12px rgba(0,0,0, 0.4);


    &:before {
    	content: '';
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        display: inline-block;
        border-width: 5px 0 5px 5px;
        border-color: transparent transparent transparent $(background);
        top: 50%;
        right: -5px;
        margin-top: -5px;
    }

    .close {
        transition: all 0.2s ease-out;
        display: block;
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 16px;
        color: var(--gray-light);

        &:hover {
            color: var(--black);
            text-decoration: none;
        }
    }
}