<div class="works section" id="works">
	<div class="wrapper section-content works-content">
		
		<div class="section-title secondary">Obras</div>

		<div class="works-grid">
			<div class="work-item category-demolitions">
				<div class="work-item-image">
					<div class="work-item-image-inner"></div>
				</div>
				<div class="work-item-content">
					<div class="work-item-title">Demoliciones</div>
					<div class="work-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet labore possimus voluptatum, cumque! Maxime, praesentium unde, tenetur repellendus asperiores sed sit veniam. Pariatur, harum. Repellendus nemo quam iusto perspiciatis ab.</div>
				</div>
			</div>
			<div class="work-item category-clearance">
				<div class="work-item-image">
					<div class="work-item-image-inner"></div>
				</div>
				<div class="work-item-content">
					<div class="work-item-title">Desmonte</div>
					<div class="work-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet labore possimus voluptatum, cumque! Maxime, praesentium unde, tenetur repellendus asperiores sed sit veniam. Pariatur, harum. Repellendus nemo quam iusto perspiciatis ab.</div>
				</div>
			</div>
			<div class="work-item category-leveling">
				<div class="work-item-image">
					<div class="work-item-image-inner"></div>
				</div>
				<div class="work-item-content">
					<div class="work-item-title">Nivelaciones</div>
					<div class="work-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet labore possimus voluptatum, cumque! Maxime, praesentium unde, tenetur repellendus asperiores sed sit veniam. Pariatur, harum. Repellendus nemo quam iusto perspiciatis ab.</div>
				</div>
			</div>
			<div class="work-item category-stuck">
				<div class="work-item-image">
					<div class="work-item-image-inner"></div>
				</div>
				<div class="work-item-content">
					<div class="work-item-title">Entoscados</div>
					<div class="work-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet labore possimus voluptatum, cumque! Maxime, praesentium unde, tenetur repellendus asperiores sed sit veniam. Pariatur, harum. Repellendus nemo quam iusto perspiciatis ab.</div>
				</div>
			</div>
			<div class="work-item category-excavations">
				<div class="work-item-image">
					<div class="work-item-image-inner"></div>
				</div>
				<div class="work-item-content">
					<div class="work-item-title">Excavaciones</div>
					<div class="work-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet labore possimus voluptatum, cumque! Maxime, praesentium unde, tenetur repellendus asperiores sed sit veniam. Pariatur, harum. Repellendus nemo quam iusto perspiciatis ab.</div>
				</div>
			</div>
			<div class="work-item category-pavement">
				<div class="work-item-image">
					<div class="work-item-image-inner"></div>
				</div>
				<div class="work-item-content">
					<div class="work-item-title">Pavimento</div>
					<div class="work-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet labore possimus voluptatum, cumque! Maxime, praesentium unde, tenetur repellendus asperiores sed sit veniam. Pariatur, harum. Repellendus nemo quam iusto perspiciatis ab.</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
