/* Works */
.works {
	background-color: var(--dark-gray);
} 
	
.works-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: -40px;

	@media (--mq-range-min-medium) {
		justify-content: space-between;
	}
}

.work-item {
	@mixin in-viewport-off;
	width: 80%;
	margin-top: 40px;
	cursor: pointer;

	@media (--mq-range-min-medium) {
		width: 45%;
	}

	@media (--mq-range-min-large) {
		width: 28%;
		margin-top: 60px;
	}

	@nest
	.in-viewport & {
		@mixin in-viewport-on;

		&:nth-child(1) {
			transition-delay: 0.9s;
		}

		&:nth-child(2) {
			transition-delay: 1.2s;
		}

		&:nth-child(3) {
			transition-delay: 1.5s;
		}

		&:nth-child(4) {
			transition-delay: 1.8s;
		}

		&:nth-child(5) {
			transition-delay: 2.1s;
		}

		&:nth-child(6) {
			transition-delay: 2.4s;
		}
	}
}

.work-item-image {
	height: 220px;
	overflow: hidden;
}

.work-item-image-inner {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	transition-property: transform, box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;

	@nest
	.work-item:hover &,
	.work-item:active &,
	.work-item:focus & {
		transform: scale(1.1);
		box-shadow: inset 0 0 100px var(--black);
	}

	@nest
	.category-demolitions & {
		background-image: url("./images/works/demolitions.jpg");
	}

	@nest
	.category-clearance & {
		background-image: url("./images/works/clearance.jpg");
	}

	@nest
	.category-leveling & {
		background-image: url("./images/works/leveling.jpg");
	}

	@nest
	.category-stuck & {
		background-image: url("./images/works/stuck.jpg");
	}

	@nest
	.category-excavations & {
		background-image: url("./images/works/excavations.jpg");
	}

	@nest
	.category-pavement & {
		background-image: url("./images/works/pavement.jpg");
	}
}

.work-item-content {
	padding: 10px 0;
}

.work-item-title {
	position: relative;
	font-size: 16px;
	font-weight: 700;
	color: var(--white);
	margin-bottom: 10px;

	&:before {
		content: '\203A';
		position: absolute;
		right: 0;
		bottom: 8px;
		display: none; // Oculto hasta tener el contenido
		color: var(--orange);
		font-size: 30px;
		line-height: 0;
		font-weight: 400;
		transform: rotate(90deg);
		transform-origin: center;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease-in-out;

		@nest
		.is-expanded & {
			transform: rotate(-90deg) translateY(-8px);
		}
	}
}

.work-item-description {
	font-size: 12px;
	color: var(--white-secondary);
	line-height: 1.5;
	opacity: 0;
	max-height: 0;
	transition-property: opacity, max-height;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;

	@nest
	.is-expanded & {
		max-height: 200px;
		opacity: 1;
	}
}