<div class="works section" id="works">
	<div class="wrapper section-content works-content">
		
		<div class="section-title secondary">Obras</div>

		<div class="works-grid">
			<div class="work-item category-demolitions">
				<div class="work-item-image">
					<div class="work-item-image-inner"></div>
				</div>
				<div class="work-item-content">
					<div class="work-item-title">Demoliciones</div>
					<div class="work-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet labore possimus voluptatum, cumque! Maxime, praesentium unde, tenetur repellendus asperiores sed sit veniam. Pariatur, harum. Repellendus nemo quam iusto perspiciatis ab.</div>
				</div>
			</div>
			<div class="work-item category-02">
				<div class="work-item-image">
					<div class="work-item-image-inner"></div>
				</div>
				<div class="work-item-content">
					<div class="work-item-title">Desmonte</div>
					<div class="work-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet labore possimus voluptatum, cumque! Maxime, praesentium unde, tenetur repellendus asperiores sed sit veniam. Pariatur, harum. Repellendus nemo quam iusto perspiciatis ab.</div>
				</div>
			</div>
			<div class="work-item category-03">
				<div class="work-item-image">
					<div class="work-item-image-inner"></div>
				</div>
				<div class="work-item-content">
					<div class="work-item-title">Movimientos de suelo</div>
					<div class="work-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet labore possimus voluptatum, cumque! Maxime, praesentium unde, tenetur repellendus asperiores sed sit veniam. Pariatur, harum. Repellendus nemo quam iusto perspiciatis ab.</div>
				</div>
			</div>
			<div class="work-item category-04">
				<div class="work-item-image">
					<div class="work-item-image-inner"></div>
				</div>
				<div class="work-item-content">
					<div class="work-item-title">Entoscados</div>
					<div class="work-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet labore possimus voluptatum, cumque! Maxime, praesentium unde, tenetur repellendus asperiores sed sit veniam. Pariatur, harum. Repellendus nemo quam iusto perspiciatis ab.</div>
				</div>
			</div>
			<div class="work-item category-demolitions">
				<div class="work-item-image">
					<div class="work-item-image-inner"></div>
				</div>
				<div class="work-item-content">
					<div class="work-item-title">Sellado de juntas</div>
					<div class="work-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet labore possimus voluptatum, cumque! Maxime, praesentium unde, tenetur repellendus asperiores sed sit veniam. Pariatur, harum. Repellendus nemo quam iusto perspiciatis ab.</div>
				</div>
			</div>
			<div class="work-item category-02">
				<div class="work-item-image">
					<div class="work-item-image-inner"></div>
				</div>
				<div class="work-item-content">
					<div class="work-item-title">Jugar a trabajar</div>
					<div class="work-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet labore possimus voluptatum, cumque! Maxime, praesentium unde, tenetur repellendus asperiores sed sit veniam. Pariatur, harum. Repellendus nemo quam iusto perspiciatis ab.</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
