/* Header */
.header {
	background-color: color(var(--black) a(75%));
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 55px;
	
	@media (--mq-range-min-medium) {
		padding: 0 10px;
	}

	@media (--mq-range-min-large) {
		align-items: stretch;
		height: auto;
	}
}

.header-logo {
	display: block;
	line-height: 0;

	@media (--mq-range-min-large) {
		padding: 12px 0;
	}

	img {
		height: 35px;
		width: auto;

		@media (--mq-range-min-large) {
			height: 40px;
		}
	}
}

.header-hamburger {
	display: flex;
	align-items: center;
	width: 36px;
	height: 26px;
	position: relative;
	margin-right: 10px;

	.header-hamburger-inner {
		height: 4px;
		width: 100%;
		background-color: var(--white);
		transition-property: opacity, background-color;
		transition-duration: 0.15s;
		transition-timing-function: ease-in-out;
	}

	&:before,
	&:after {
		content: '';
		height: 4px;
		background-color: var(--white);
		width: 100%;
		position: absolute;
		left: 0;
		transition-property: transform, background-color;
		transition-duration: 0.15s;
		transition-timing-function: ease-in-out;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}

	&:active, &:focus {
		.header-hamburger-inner,
		&:before,
		&:after {
			background-color: var(--orange);
		}
	}

	@media (--mq-range-min-large) {
		display: none;
	}

	@nest
	.is-expanded & {

		.header-hamburger-inner {
			opacity: 0;
		}

		&:before {
			transform: rotate(45deg) translate(8px, 8px);
		}

		&:after {
			transform: rotate(-45deg) translate(8px, -8px);
		}
	}
}