/* Header */
.header {
	background-color: color(var(--black) a(75%));
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 45px;

	@media (--mq-range-min-large) {
		align-items: stretch;
		height: auto;
	}
}

.header-logo {
	display: block;
	padding: 8px 0;

	@media (--mq-range-min-large) {
		padding: 12px 0;
	}

	img {
		height: 25px;
		width: auto;

		@media (--mq-range-min-large) {
			height: 40px;
		}
	}
}

.header-hamburger {
	display: flex;
	align-items: center;
	width: 35px;
	height: 25px;
	position: relative;
	margin-right: 10px;

	.header-hamburger-inner {
		height: 3px;
		width: 100%;
		background-color: var(--white);
	}

	&:before {
		content: '';
		height: 3px;
		background-color: var(--white);
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	&:after {
		content: '';
		height: 3px;
		background-color: var(--white);
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	@media (--mq-range-min-large) {
		display: none;
	}
}