<div class="hero">
	<div class="owl-carousel owl-theme">
	    <div class="hero-item item" style="background-image: url(./images/hero/01.jpg)"></div>
	    <div class="hero-item item" style="background-image: url(./images/hero/02.jpg)"></div>
	    <div class="hero-item item" style="background-image: url(./images/hero/03.jpg)"></div>
	    <div class="hero-item item" style="background-image: url(./images/hero/04.jpg)"></div>
	    <div class="hero-item item" style="background-image: url(./images/hero/05.jpg)"></div>
	    <div class="hero-item item" style="background-image: url(./images/hero/06.jpg)"></div>
	</div>
</div>
