<div class="hero" id="hero">
	<div class="owl-carousel owl-theme">
	    <div class="hero-item item" style="background-image: url(./images/hero/r01.jpg)"></div>
	    <div class="hero-item item" style="background-image: url(./images/hero/r02.jpg)"></div>
	    <div class="hero-item item" style="background-image: url(./images/hero/-03.jpg)"></div>
	    <div class="hero-item item" style="background-image: url(./images/hero/-04.jpg)"></div>
	    <div class="hero-item item" style="background-image: url(./images/hero/-05.jpg)"></div>
	    <div class="hero-item item" style="background-image: url(./images/hero/-06.jpg)"></div>
	</div>
	<div class="caption wrapper">
		<div class="caption-inner">
			<div id="js-rotating">Movimientos de suelo, Excavaciones, Compactaciones, Nivelados, Obras viales</div>	
		</div>
	</div>
</div>
