@import "../owl/owl.carousel.css";

/* Hero */
.hero {
	height: 100vh;
	position: relative;

	.owl-prev,
	.owl-next {
		display: block;
		width: 36px;
		height: 42px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		opacity: 0.5;
		background-position: center;
		background-repeat: no-repeat;
		transition-property: background-color, opacity;
		transition-duration: 0.15s;
		transition-timing-function: ease-in-out;

		&:hover {
			background-color: color(var(--white) a(20%));
			opacity: 0.90;
		}
	}

	.owl-prev {
		background-image: url(./images/icons/arrow-left.svg);
		left: 0;
	}

	.owl-next {
		background-image: url(./images/icons/arrow-right.svg);
		right: 0;
	}
}

.hero-item {
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* Caption morphext */
@keyframes fade-in {
    from {
    	opacity: 0;
    	transform: translate3d(0, 25%, 0);
  	}

  	to {
    	opacity: 1;
	    transform: none;
  	}
}

.caption {
	position: absolute; 
	top: 0;
	bottom: 0;
	left: 50%;
	color: var(--white);
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px var(--black);
	transform: translateX(-50%);
	z-index: 1;
	pointer-events: none;

	@media (--mq-range-min-small) {
		font-size: 32px;
	}

	@media (--mq-range-min-medium) {
		font-size: 42px;
	}
}

.caption-inner {
	position: absolute;
	left: 0;
	bottom: 10%;
	padding: 0 20px;
}

.animated {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	
	/* Line bullet */
	&:before, 
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		height: 75%;
		width: 6px;
		display: inline-block;
		background-color: var(--orange);
		transform: translateY(-50%) skewX(-15deg);
		box-shadow: 1px 1px 1px var(--black);
	}

	&:after {
		left: 0;
	}

	&:before {
		left: 9px;
	}

	@media (--mq-range-min-small) {
		padding-left: 32px;

		&:before, 
		&:after {
			width: 8px;
		}

		&:before {
			left: 12px;
		}
	}

	@media (--mq-range-min-medium) {
		padding-left: 40px;

		&:before, 
		&:after {
			width: 12px;
		}

		&:before {
			left: 16px;
		}
	}
}

.fadeIn {
	animation-name: fade-in;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
}