<ul class="navigation-list">
	<li class="is-active"><a class="navigation-link" href="#hero">Inicio</a></li>
	<li><a class="navigation-link" href="#about">Nosotros</a></li>
	<li><a class="navigation-link" href="#transport">Transportes</a></li>
	<li><a class="navigation-link" href="#works">Obras</a></li>
	<!-- <li><a class="navigation-link" href="#repairs">Reparaciones</a></li> -->
	<li><a class="navigation-link" href="#equipment">Equipos</a></li>
	<li><a class="navigation-link" href="#contact">Contacto</a></li>
</ul>
