/* Navigation */
.navigation {
	background-color: color(var(--black) a(20%));
	padding: 10px 0;
	position: sticky;
	top: 0;
	border-bottom: 10px solid green;
	font-size: 10px;
	border-top: 10px solid blue;
	border-radius: 10px;
}