<div class="navigation">
	<div class="wrapper">
		<div class="navigation-inner">
			<h1 class="navigation-logo"><img src="./images/logo-orange.svg" alt="Logo Rentavial" title="Rentavial"></h1>
			<ul class="navigation-list">
				<li><a class="navigation-link" href="#hero">Inicio</a></li>
				<li><a class="navigation-link" href="#about">Nosotros</a></li>
				<li><a class="navigation-link" href="#transport">Transportes</a></li>
				<li><a class="navigation-link" href="#ground">Suelos</a></li>
				<li><a class="navigation-link" href="#repairs">Reparaciones</a></li>
				<li><a class="navigation-link" href="#machines">Maquinarias</a></li>
				<li><a class="navigation-link" href="#contact">Contacto</a></li>
			</ul>
		</div>
	</div>
</div>
