<div class="navigation">
	<div class="wrapper">
		<div class="navigation-inner">
			<h1 class="navigation-logo"><img src="./images/logo-light.svg" alt="Logo Rentavial" title="Rentavial"></h1>
			<ul class="navigation-list">
				<li><a class="navigation-link" href="">Inicio</a></li>
				<li><a class="navigation-link" href="">Nosotros</a></li>
				<li><a class="navigation-link" href="">Transportes</a></li>
				<li><a class="navigation-link" href="">Suelos</a></li>
				<li><a class="navigation-link" href="">Reparaciones</a></li>
				<li><a class="navigation-link" href="">Maquinarias</a></li>
				<li><a class="navigation-link" href="">Contacto</a></li>
			</ul>
		</div>
	</div>
</div>
