/* Navigation */
.navigation-list {
	
	@media (--mq-range-max-medium) {
		position: fixed;
		top: 45px;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: color(var(--black) a(75%));
		transform: translateX(100%);
		transition-property: transform;
		transition-duration: 0.25s;
		transition-timing-function: ease-in-out;
		padding: 10px;
		
		@nest
		.is-expanded & {
			transform: translateX(0);
		}

		li {
			display: flex;
			justify-content: center;
		}
	}

	@media (--mq-range-min-large) {
		display: flex;
		justify-content: flex-end;

		li {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}

.navigation-link {
	position: relative;
	padding: 14px 0;
	font-size: 14px;
	color: var(--white);
	text-transform: uppercase;
	transition-property: color;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;

	&:hover {
		color: var(--orange);
	}

	&:before {
		content: '';
		height: 2px;
		width: 0;
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: var(--orange);
		opacity: 0;
		transition-property: opacity, width;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;	
	}

	@media (--mq-range-min-medium) {
		padding: 20px 0;
	}

	@media (--mq-range-min-large) {
		display: flex;
		flex-grow: 1;
		align-items: center; 
		padding: 0 12px;
		font-size: 12px;
	}
	
	@nest
	.is-active & {
		color: var(--orange);
		
		&:before {
			opacity: 1;
			width: 100%;
		}
	} 

}