<div class="about section" id="about">
	<div class="wrapper section-content about-content">
		
		<div class="about-title">
			<div class="section-title">Nosotros</div>
		</div>
		<div class="about-description section-paragraph">
			<p>Rentavial fu&eacute; fundada en 1984. En sus or&iacute;genes, centramos nuestra fuerza productiva en la reparaci&oacute;n de maquinas viales y otros tipos de equipamientos ligados a la industria metal&uacute;rgica, fabricando en sus instalaciones los repuestos necesarios para brindar soluciones concretas.</p>

			<p>Habiendo adquirido m&aacute;s experiencia y notando una gran demanda, incorporamos a nuestra empresa profesionales capacitados para ejecutar todo tipo de obras viales.</p>

			<p>Por entonces, la correcta concreci&oacute;n de servicios y el notable crecimiento de la empresa potenciaron el deseo de contar con un espacio mas amplio, y en 1998 dicho anhelo se transform&oacute; en el actual establecimiento de Rentavial Servicios, en Isidro Casanova (Parque Industrial Federico Russo).</p>

			<p>Rentavial actualmente cubre todas las expectativas de sus clientes en lo que refiere a prestaciones de maquinarias viales y transportes. Transformandose as&iacute; en un importante referente en cuanto a alquiler de maquinarias viales, labores de rehabilitaci&oacute;n de suelos, excavaciones, demoliciones, y todo lo referido al rubro.</p>

			<p>Hoy en d&iacute;a contamos con el equipamiento, el personal, y la experiencia necesaria para la realizaci&oacute;n de urbanizaciones, obras civiles, hidr&aacute;ulicas, viales, explotaci&oacute;n de yacimientos y/o canteras a cielo abierto, gasoductos, oleoductos, carreteras y todo tipo de obras de ingenier&iacute;a.</p>
		</div>

	</div>
</div>
