/* About */
.about-content {
	display: flex;
	flex-direction: column;

	@media (--mq-range-min-large) {
		flex-direction: row;
	}
}

.about-title {

	@media (--mq-range-min-medium) {
		flex-basis: 30%;
	}
}

.about-description {

	@media (--mq-range-min-medium) {
		flex-basis: 70%;
		column-count: 2;
		column-gap: 50px;
	}
}